@import url('https://fonts.googleapis.com/css?family=Fauna+One');

body{
    font-family: Fauna One;
}

#container{
    margin: 0 250px 0 250px;
}

#titleBar{
    background: #22313f;
    color: white;

    text-align: center;
    
    margin: 2%;
    padding: 2%;

    border-radius: 12px;
}

#controls{
    float: right;
    padding: 0 150px 350px 150px;

    text-align: center;

    color: white;
    background: #22313f;

    border-radius: 12px;
}

.controlButtons{
    
    font-family: Fauna One;
    font-size: 16px;

    outline: none;
    border: none;

    background: white;
    color: black;

    padding: 12px;

}
/* Container for the squares of the game.  */
#grid-container{

    float: left;

    border: #22313f solid 4px;

    width: 600px;
    height: 600px;
    
    margin: auto;

    display: grid;

    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);

    

}

/* Styling for each of the individual squares.  */

.grid-item{

    box-sizing: border-box;
    border: 1px solid #22313f;

}